<div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/img/quienes-somos-vinoteca.jpg" alt="vinos" class="img-fluid rounded-start" >  
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">NUESTRA HISTORIA</h5>
          <p class="card-text"> La historia de Grupo Vinoteca se remonta al año 1974 con la pasión de Juan B. Morales Doria y a la visión y emprendedurismo de Juan B. Morales Gonzalez, quien gracias a ellos se cristaliza la idea de traer los mejores vinos del mundo por parte de una empresa importadora llamada: Importaciones de la Mancha, después la apertura de la primer tienda en San Pedro Garza García, NL con el nombre comercial: Vinoteca y posteriormente la creación de Vinux, empresa especializada en atender al canal autoservicio, supermercados y mayoristas de este país. Estas últimas tres empresas conforman al Grupo Vinoteca.
            Desde la búsqueda por mejorar a la comunidad con actividades sin fines de lucro, hasta una expansión notable en todo el territorio nacional, se requirió de integridad, actitud de servicio y trabajo en equipo, pero al final los resultados están ahí, y no sólo nuestros clientes son partícipes de ello, también nuestros socios comerciales y todos los colaboradores que conformamos el equipo de Grupo Vinoteca.
            Nuestra expansión, evolución y crecimiento como grupo, siempre será también la expansión, evolución y crecimiento de cada uno de los colaboradores que forman parte de Grupo Vinoteca. Lo más importante es la mentalidad que nos caracteriza: una actitud de progreso, avance, mejora y, por supuesto, satisfacción.</p>
        </div>
      </div>
    </div>
  </div>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, quaerat, amet at fuga a culpa reiciendis impedit est error aliquam quo soluta, suscipit libero beatae illum. Quam reiciendis exercitationem ipsum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta voluptas eum a harum, vel, repellat, ipsum ex eveniet minima ullam maxime eos doloremque deserunt aliquid reprehenderit maiores repudiandae saepe adipisci! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus nobis in et qui rerum, deleniti ut quod magni labore? Sunt quis dolore illum id quibusdam, quos recusandae asperiores numquam accusamus!</p>