<form>
    <fieldset disabled>
      <legend>Contacto</legend>
      <div class="mb-3" style="width:40%;">
        <label for="disabledTextInput" class="form-label" >Nombre y Apellido: </label>
        <input type="text" id="disabledTextInput" class="form-control">
      </div>
      <div class="mb-3" style="width:40%;">
        <label for="disabledTextInput" class="form-label">Email:</label>
        <input type="email" id="disabledTextInput" class="form-control">
      </div>
      <div class="mb-3" style="width:40%;">
        <label for="exampleFormControlTextarea1" class="form-label">Consulta:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
     
      <button type="submit" class="btn btn-primary">Enviar</button>
    </fieldset>
  </form>